body{
text-align: center;
font-family:'Times New Roman', Times, serif ;
background-image: radial-gradient(circle,red,yellow,orange);
}
div{
border:5px solid rgb(25, 0, 255);
width:300px;
margin-left:200px;
margin-top: 50px;
}
